    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: lightblue;
      padding-top: 50px;
    }

    .container {
      max-width: 400px;
      margin: auto;
	  background:lightseagreen;
    }

    #player-form {
      margin-bottom: 20px;
    }

    #board {
      display: none;
    }

    .message {
      margin: 15px 0;
      font-size: 18px;
      font-weight: bold;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-gap: 5px;
      justify-content: center;
    }

    .cell {
      width: 100px;
      height: 100px;
      background: lightgreen;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 2px solid #333;
    }

    input {
      padding: 8px;
      margin: 20px;
		height:40px;
		width:50vw;
		border: 1px solid green;
		border-radius: 5px;
    }

    button {
      padding: 10px 20px;
	  background:lightgreen;
		margin-bottom:10px;
      cursor: pointer;
    }